/* @font-face {
    font-family: "Swiss721 BlkEx Bt";
    src: url(../assets/swiss721.TTF);
}                 */




body { 
    background-color: var(--black);
    /* font-family: 'Swiss721 BlkEx Bt'; */
    color: var(--will);
    overflow-x: hidden;
    height: 100%;
    align-items: center;
    left: 1%;
} 

.main {
    width: 100%;
    height: 100%;
    display: inline-flex;
    background-color: var(--black);
    top: 0%;
    position: absolute;
}

.content {
    width: 100%;
}

.logo {
    background: none;
    border: none;
}
.logo img {
    transition: .5s;
}
.logo img:hover {
    filter: brightness(1.2);
    scale: 1.1;
}



.toolbutton {
    transition: .5s;
    height: 6vh;
    width: 10vw;
    border: none;
    border-radius: 2vh;
    font-size: .6rem;
    color: var(--black);
    display: inline-flex;
    background-color: var(--light);
    align-items: center;
    justify-content: center;
}.toolbutton.active {
    font-size: .6rem;
    background-color: var(--mag);
    color: var(--will);
}.toolbutton:hover {
    filter: brightness(1.5);
}


.toolbar {
    padding-inline: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96.5%;
    height: 13%;
    top: -0.1%;
    left: -1%;
    position: absolute;
    background-color: var(--black);
    z-index: 2;
}
.pages {
    display: flex;
    gap: 2vw;
}


.pfpimg {
    width: 5vw;
    height: 5vw;
    /* min-width: 4rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--shade2);
    border-radius: 1.2rem;
    margin-right: 1vw;
}
.pfpimg img {
    width: 80%;
    border-radius: 1rem;
}
.statusind {
    transition: 15s;
    position: absolute;
    bottom: 20%;
    right: 17%;
    width: 1rem;
    border: 0.2rem solid var(--black);
    height: 1rem;
    border-radius: 1rem;
}.statusind.online {
    background: radial-gradient(rgb(108, 255, 226), rgb(0, 255, 153) 75%);
}.statusind.offline {
    background: radial-gradient(var(--black), var(--light) 50%);
}.statusind.playing {
    background: radial-gradient(rgb(135, 191, 255), rgb(64, 115, 255) 75%);
}


.sidebar {
    display: flex;
    width: 6%;
    position: fixed;
    overflow: hidden;
    height: 100%;
    left: 1px;
    background-color: var(--shade1);
    z-index: 1;
}


.userarea {
    max-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.at {
    color: rgba(255, 255, 255, 0.436);
}

.page {
    color: var(--will);
    display: flex;
    justify-content: space-evenly;
    width: 96%;
    height: 83%;
    background-color: var(--black);
    color: var(--light);
    font-family: monospace;
    top: 12vh;
    left: 0vw;
    position: absolute;
    padding: 1%; 
}


.con1 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--shade2);
    color: var(--will);
    padding: 2%;
    border-radius: 2vw;

}
.con2 {
    /* top: 20%; */
    width: 50%;
    background-color: var(--shade1);
    color: var(--will);
    padding: 2%;
    border-radius: 2vw;
}
h2 {
    margin: 1vh;
    text-align: center;
    color: var(--black);
    font-size: 40px;
}
h3 {
    margin: 4vh;
    font-size: 24px;
    color: var(--light);
}
.inps {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: space-evenly;
}

.inp {
    transition: .5s;
    background-color: var(--black);
    border-radius: 2vw;
    border: none;
    padding: .5rem;
    height: 4vh;
    width: 90%;
    font-family: monospace;
    color: var(--will);
}

.inp.btn {
    background-color: var(--mag);
    width: 35%;
    height: 10vh;
    font-size: 22px;
    color: var(--will);
}
.inp.btn:hover {
    filter: brightness(1.5);
}
.link {
    color: var(--mag);
    font-size: 16px;
}


.wrapper {
    position: absolute;
    font-size: 20px;
    z-index: 5;
    color: var(--will);
}





.post {
    background-color: var(--light);
    margin-top: 2%;
    padding: 2%;
    /* border: solid 2px var(--mag); */
    border-radius: 1vw;
}.side {
    margin: 2%;
}

.ad {
    background-color: var(--light);
    margin-top: 2%;
    padding: 2%;
    /* border: solid 2px var(--mag); */
    border-radius: 1vw;
}

.c{
    border: none;

    background-color: var(--light);
}

.con2top {
    display: flex;
}