/* @font-face {
    font-family: "Swiss721 BlkEx Bt";
    src: url(../assets/swiss721.TTF);
}                 */



body { 
    background-color: var(--black);
    /* font-family: 'Swiss721 BlkEx Bt'; */
    color: var(--will);
    overflow-x: hidden;
    height: 100%;
    align-items: center;
    left: 1%;
} 

.main {
    width: 100%;
    height: 100%;
    display: inline-flex;
    background-color: var(--black);
    top: 0%;
    position: absolute;
}

.content {
    width: 100%;
}

.logo {
    background: none;
    border: none;
}
.logo img {
    transition: .5s;
}
.logo img:hover {
    filter: brightness(1.2);
    scale: 1.1;
}



.toolbutton {
    transition: .5s;
    height: 6vh;
    width: 10vw;
    border: none;
    border-radius: 2vh;
    font-size: .6rem;
    color: var(--black);
    display: inline-flex;
    background-color: var(--light);
    align-items: center;
    justify-content: center;
}.toolbutton.active {
    font-size: .6rem;
    background-color: var(--mag);
    color: var(--will);
}.toolbutton:hover {
    filter: brightness(1.5);
}


.toolbar {
    padding-inline: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 96.5%;
    height: 13%;
    top: -0.1%;
    left: -1%;
    position: absolute;
    background-color: var(--black);
    z-index: 2;
}
.pages {
    display: flex;
    gap: 2vw;
}


.pfpimg {
    width: 5vw;
    height: 5vw;
    /* min-width: 4rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--shade2);
    border-radius: 1.2rem;
    margin-right: 1vw;
}
.pfpimg img {
    width: 80%;
    border-radius: 1rem;
}
.statusind {
    transition: 15s;
    position: absolute;
    bottom: 20%;
    right: 17%;
    width: 1rem;
    border: 0.2rem solid var(--black);
    height: 1rem;
    border-radius: 1rem;
}.statusind.online {
    background: radial-gradient(rgb(108, 255, 226), rgb(0, 255, 153) 75%);
}.statusind.offline {
    background: radial-gradient(var(--black), var(--light) 50%);
}.statusind.playing {
    background: radial-gradient(rgb(135, 191, 255), rgb(64, 115, 255) 75%);
}


.sidebar {
    display: flex;
    width: 6%;
    position: fixed;
    overflow: hidden;
    height: 100%;
    left: 1px;
    background-color: var(--shade1);
    z-index: 1;
}


.userarea {
    max-width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.at {
    color: rgba(255, 255, 255, 0.436);
}

.page {
    color: var(--will);
    display: flex;
    justify-content: space-evenly;
    width: 96%;
    height: 83%;
    background-color: var(--black);
    color: var(--light);
    font-family: monospace;
    top: 12vh;
    left: 0vw;
    position: absolute;
    padding: 1%; 
}


.con1 {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    background-color: var(--shade2);
    color: var(--will);
    padding: 2%;
    border-radius: 2vw;

}
.con2 {
    /* top: 20%; */
    width: 50%;
    background-color: var(--black);
    color: var(--will);
    padding: 2%;
    /* border: solid 1px var(--light); */
    border-radius: 2vw;
}
h2 {
    text-align: center;
    color: var(--will);
    font-size: 40px;
}
h3 {
    font-size: 24px;
    color: var(--will);
}
.inps {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    justify-content: space-evenly;
}

.inp {
    transition: .5s;
    background-color: var(--void);
    border-radius: 2vw;
    border: 1px solid var(--light);
    padding: .5rem;
    height: 4vh;
    width: 90%;
    font-family: monospace;
    color: var(--will);
}
.inp[type='submit']{
    border: none;
}

.inp.btn {
    background-color: var(--mag);
    width: 35%;
    height: 10vh;
    font-size: 22px;
    color: var(--will);
}
.inp.btn:hover {
    filter: brightness(1.5);
}
.link {
    color: var(--mag);
    font-size: 16px;
}


.wrapper {
    position: absolute;
    font-size: 20px;
    z-index: 5;
    color: var(--will);
}





.post {
    background-color: var(--light);
    margin-top: 2%;
    padding: 2%;
    /* border: solid 2px var(--mag); */
    border-radius: 1vw;
}.side {
    margin: 2%;
}

.ad {
    background-color: var(--light);
    margin-top: 2%;
    padding: 2%;
    /* border: solid 2px var(--mag); */
    border-radius: 1vw;
}

.c{
    border: none;

    background-color: var(--light);
}
/* 
.auth {
    display: none;
}


.toolbar {
    display: flex;
    gap: 2vw;
}


.Btn {
    width: 8vw;
    height: 8vw;
    border-radius: 1.5vw;
    background-color: var(--light);
    box-shadow: 0px 0px 20px 10px var(--shade-a);
}
.Btn.download {
    background-color: var(--shade1);
}
.placeholder {
    width: 22vw;
    height: 8vw;
}
.Btn.login {
    position: relative;
    left: 50vw;
    width: 22vw;
    height: 8vw;
    border-radius: 1.5vw;
    background-color: var(--light);
    text-align: center;
}
.Btn.login.pg {
    display: flex;
    position: relative;
    left: 1.5vw;
    width: 26vw;
    height: 3vw;
    border-radius: 1.5vw;
    background-color: var(--shade1);
    align-items: center;
    justify-content: center;
}
.Btn.login.pg.on {
    background-color: var(--light);
}
.title.login {
    font-size: 2.5vw;
    position: absolute;
    left: 6vw;
    top: .1vw;
    color: var(--will);
}
.title.login.sign {
    left: 4.5vw;
}
.conttitle {
    color: var(--mag);
}

.light {
    width: 4.5vw;
    height: 2vw;
    top: .6vw;
    left : .6vw;
    position: relative;
    border-radius: 1.5vw;
    background-color: var(--mag);
}
.light.two {
    background-color: var(--light);
}
.light.shade {
    background-color: var(--shade1);
    height: 1vw;
    top: 5vw;
    left: 3vw;
    width: 16vw;
}
.light.tit {
    background-color: var(--shade1);
    height: 10vw;
    width: 60vw;
    top: 4vw;
    left: 16vw;
    text-align: center;
    box-shadow: 0px 0px 20px 10px var(--shade-a);

}


.title {
    font-size: 5vw;
    position: relative;
    top: 2vw;
}
.title.games {
    color: var(--mag);
}
.title.manual {
    color: var(--light);
    font-size: 2.5vw;
    text-align: center;
}


.pdf {
    position: absolute;
    border: none;
    width: 45%;
    height: 1095vh;
    left: 27vw;
}


::-webkit-scrollbar {
    padding: 1%;
    width: 2vw;
}
::-webkit-scrollbar-thumb {
    border: .5vw solid var(--black);
    transition: 1s;
    padding: 1%;
    background: var(--shade1);
    border-radius: 1.5vw;
}
::-webkit-scrollbar-thumb:hover {
    background: var(--light);
}
::-webkit-scrollbar-track {
    display: none;
    color: rgb(238, 191, 115)
}


.blur {
    filter: blur(2vw);
    background: var(--black);
    position: absolute;
    border: none;
    scroll-behavior: smooth;
    top: 46vw;
    width: 100vw;
    height: 100vh;
    left: -2vw;
}


footer {
    z-index: 999;
    padding: 1%;
    left: 0vw;
    bottom: 0vw;
    width: 98%;
    height: 2vw;
    position: fixed;
    background-color: var(--light);
}
.text.foot {
    position: relative;
    left: 75vw;
    top: -.5vw;
    width: fit-content;
    height: 1px;
}


.limit  {
    position: absolute;
    color: var(--error);
    top: 52vw;
    left: 40vw;
}
.limit a {
    color: var(--light);
    text-decoration: underline;
}


.image {
    z-index: 1;
    position: absolute;
    top: 5vw;
    left: 5.4vw;
    width: 4.2vw;
}
.image.download{
    top: 5.2vw;
    left: 15.9vw;
    width: 3.2vw;
}
 */
