<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{title}}</title>

  <!-- CSS global -->
  <link rel="stylesheet" href="/style.css">

</head>
<script src="/js/achievement-checker.js"></script>
<body>
  

  <main class="main-container">
    {{{body}}}
  </main>


  
</body>
</html>
