container{
    display: flex;
    align-items: center;
}

container h1{
    text-align: center;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

form{
    width: 40%;
    margin: auto;
    background-color: #501207;
    padding: 14px;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #ffffff;
    border: solid #ffffff 8px;
    border-radius: 20px;
}
 form label{
    font-size: 22px;
}

.button{
    text-align: center;
    padding: 16px;
}

form p{
    font-size: 20px;
    text-align: center;
}

form select{
    padding: 2px;
    margin: 4px;
    font-size: 18px;
}

.dadosAluno{
    color: black;
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border: #CE7E5D solid 12px;
    border-radius: 4px;
    /* display: none; */
}

.dadosAluno h2{
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
}
