container{
    margin: 10px;
}

container h1{
    text-align: center;
    padding: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

container p{
    margin: 20px;
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-align: justify; /* Justifica o texto */
    font-weight: bold;
}

footer{
    background-color: rgb(80, 18, 7);
    padding: 2px;
    width: 100%;
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    text-align: center;
}

footer p{
    font-size: 16px;
    margin: auto;
    padding: 10px;
}

footer img{
    width: 20px;
}