header {
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 110);
    padding: 40px 45px;
    font-weight: 600;
}

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 80px;
}

.nav-item a {
    text-decoration: none;
    color: rgb(255, 214, 78);
    font-weight: 800;
}

.nav-item.active a {
    border-bottom: 3px solid rgb(4, 4, 43);
}

.icones-usuario {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 15%;
}
