/* Estiliza o contêiner principal, removendo qualquer fundo */
.container {
    background: none;
}

/* Estiliza a seção à esquerda com uma cor de fundo ciano claro */
.left-section {
    background-color: var(--verde-agua-claro);
}

/* Define o estilo do texto de boas-vindas com uma fonte específica e tamanho de fonte */
.welcome {
    font-family: 'Doppio One', serif;
    font-size: 30px;
}

/* Estiliza a seção à direita com uma cor de fundo azul bebê */
.right-section {
    background-color: var(--azul-pastel-claro);
}

/* Estiliza o contêiner do formulário com fundo branco, bordas arredondadas e altura fixa */
.form-container {
    background-color: white;
    border-radius: 44px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    position: relative;
}

/* Estiliza o formulário dentro do contêiner com direção de coluna e largura específica */
.form {
    display: flex;
    flex-direction: column;
    width: 85%; 
}

/* Estiliza os campos de entrada dentro do formulário com padding, bordas arredondadas e cor de fundo */
.form input {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 20px;
    width: 100%;
    font-family: 'Doppio One', serif;
    border-radius: 11px;
    background-color: #80BCB5; /* Verde água claro */
    border-radius: 11px; /* Remover duplicidade */
}

/* Altera a cor de fundo dos campos de entrada quando estão em foco */
.form input:focus {
    background-color: #47c2ff; /* Azul claro */
}

/* Define o estilo do texto do placeholder dentro dos campos de entrada */
.form input::placeholder {
    font-family: 'Doppio One', serif;
    font-size: 18px;
}

/* Altera a cor do texto do placeholder quando o campo de entrada está em foco */
.form input:focus::placeholder {
    color: white;
}

/* Estiliza os botões dentro do formulário com uma cor de fundo amarela e texto preto */
.form button {
    background-color: var(--Ambar); /* Amarelo */
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 135px;
    height: 35px;
    margin: auto;
    font-size: 20px;
    font-family: 'Doppio One', serif;
}

/* Define a cor de fundo do botão ao passar o mouse */
.form button:hover {
    background-color: #fac385; /* Amarelo claro */
}

/* Estiliza o contêiner do formulário com margens, largura, bordas arredondadas e cor de fundo */
.form_container {
    margin-top: 100px;
    width: 645px;
    border-radius: 15px;
    background: #F1E7E4; /* Cor de fundo pêssego claro */
}

/* Estiliza o contêiner do logotipo com posição absoluta, tamanho fixo e fundo azul bebê */
.logo-container {
    position: absolute;
    height: 150px;
    width: 150px;
    top: -75px;
    border-radius: 50%;
    padding: 10px;
    text-align: center;
    background-color: var(--azul-pastel-claro);
    left: 50%;
    transform: translateX(-50%);
}

/* Define o estilo do formulário dentro do contêiner do logotipo com altura e largura fixas */
.logo-form {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: white;
}

/* Define a posição relativa do contêiner da senha para posicionar o ícone de mostrar/ocultar senha */
.password-container {
    position: relative;
}

/* Estiliza o campo de entrada da senha para incluir espaço para o ícone de mostrar/ocultar senha */
.password-container input {
    width: 100%;
    padding-right: 40px; /* Espaço para o ícone */
}

/* Estiliza o ícone para mostrar/ocultar senha com posição absoluta e cursor de ponteiro */
#togglePassword {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 1.2em; /* Ajuste o tamanho conforme necessário */
    color: #000; /* Ajuste a cor conforme necessário */
}

/* Estiliza o link para recuperação de senha com cor azul e sublinha ao passar o mouse */
.forgot-password {
    display: block;
    margin-top: 10px;
    text-align: center;
    color: #007bff; /* Azul claro */
    text-decoration: none;
}

/* Define o estilo do link para recuperação de senha ao passar o mouse */
.forgot-password:hover {
    text-decoration: underline;
}


/* Media query para telas menores que 1000px */
@media (max-width: 1000px) {
    .form-container {
        max-width: 90%; /* Ajusta a largura máxima para 90% da tela */
        width: 90%; /* Mantém a largura responsiva */
    }
}



