:root{

   --verde-pinho: #00796B;
   --verde-agua-claro: #A2DFD1;
   --verde-lima-claro: #B3FAA5;
   --cinza-azulado: #607D8B;
   --branco: #ffffff;
   --azul-pastel-claro:  #CCDDE8;
   --Ambar: #FFC107;
   --Azul-Cobalto:  #4F75A8;



   --cinza: #92908A;
   --gota-azul: #3A4A6B;
   --areia: #DFC2A6;
   --cinza-claro: #8C8C8C;
    
}
   